#!/usr/bin/env xdg-open
# Author Alexey T. / Erik Inkinen / GNU GPL3
[Desktop Entry]
Version=1.2
Type=Application
Name=Camera
Exec=/usr/bin/furios-camera
TryExec=/usr/bin/furios-camera
Icon=camera-app
Terminal=false
StartupNotify=false
Comment=Camera
Categories=AudioVideo;Video;Photography
